.coverContainerForm {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.coverContainerModal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
}

.coverContainerFor img {
  width: 100%;
}
.coverContainerModal img {
  height: 100%;
}
